
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.logo h1 {
    font-size: 24px;
    color: #f7c02e; /* Bright yellow or orange to stand out */
}

.nav-bar {
    list-style-type: none;
}

.nav-bar li {
    display: inline;
    margin-right: 0px;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-bar a:hover {
    color: #f7c02e;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.logo h1 {
    font-size: 24px;
    color: #f7c02e; /* Bright yellow or orange to stand out */
}

.nav-bar {
    list-style-type: none;
}

.nav-bar li {
    display: inline;
    margin-right: 0px;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-bar a:hover {
    color: #f7c02e;
}

